.catbus {
  .well {
    @include prefixer(border-radius, 0, spec);
  }
}

.catbus__nav {
  .catbus--right & {
    & > button {
      @include border-bottom-radius(0);
      border-bottom: 0;
    }
  }

  .catbus--left & {
    & > button {
      @include border-top-radius(0);
      border-top: 0;
    }
  }

  & > button {
    &:active,
    &:focus {
      outline: 0;
    }
  }

  .well {
    min-height: 500px;
    background: #333333;
  }
}

.catbus__section {
  @include background-image(linear-gradient(top, rgba(#ffffff, 1) 0%,rgba(#777777, 1) 100%));
}

.catbus__article {
  .well {
    min-height: 1000px;
  }
}
