// Screen Sizes
// These are defined in bootstrap.  Redefined here so they can be overridden
// as necessary.
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

// General Options
$catbus-top-gap: 56px !default;
$catbus-top-drop: 108px !default;
$catbus-aside-width: 261px !default;

// Margin Options: none, small, medium, large
$catbus-margin-size: medium !default;
$catbus-margin-small: 44px !default;
$catbus-margin-medium: 60px !default;
$catbus-margin-large: 85px !default;

$catbus-animate-padding: false !default;
$catbus-disable-firefox-transform: false !default;

.catbus {
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 100%;
}

.catbus__aside {
  @include transition-property(transform);
  @include transition-duration(.25s);
  position: absolute;
  width: $catbus-aside-width;
  right: 100%;
  top: 0;
  z-index: 100;

  .catbus--open & {
    @include transform(translateX(100%));
  }

  & > button {
    @include user-select(none);
    position: absolute;
    width: 75%;
    line-height: 36px;
    padding: 0 1em;
    text-transform: uppercase;
    text-align: left;
    margin: 0;

    @media (max-width: $screen-lg - 1) {
      display: none;
    }

    .carrot {
      @include transition-property(transform);
      @include transition-duration(.25s);
      float: right;
      line-height: inherit;
    }
  }

  .catbus--left & {
    @media (min-width: $screen-md) {
      right: 100%;
      top: $catbus-top-gap / 2;

      @media (min-width: $screen-md) {
        .catbus--pinned & {
          @include transform(translateX(100%));
        }
      }
    }

    & > button {
      top: 0;
      right: 0;

      @include transform-origin(right top);
      @include transform(rotateZ(-90deg));

      .carrot {
        .catbus--open & {
          @include transform(rotateZ(180deg));
        }
      }
    }
  }

  .catbus--right & {
    @media (min-width: $screen-md) {
      left: 100%;
      top: $catbus-top-gap / 2;

      .catbus--open & {
        @include transform(translateX(-100%));
      }
    }

    & > button {
      bottom: 100%;
      right: 100%;

      @include transform-origin(right bottom);
      @include transform(rotateZ(-90deg));

      .carrot {
        @include transform(rotateZ(-180deg));

        .catbus--open & {
          @include transform(rotateZ(-360deg));
        }
      }
    }
  }

  .catbus--top & {
    @media (min-width: $screen-md) {
      z-index: 0;
      width: 100%;
      left: 0;

      height: $catbus-top-drop;
      overflow: hidden;
      @include transform(translateY(-42px));

      .catbus--open & {
        @include transform(translateY(0));
      }
    }

    & > button {
      display: none;
    }
  }
}

.catbus__section {
  position: relative;
  z-index: 50;
  top: 0;

  @if $catbus-animate-padding {
    @include transition(padding .25s);
  }

  .catbus--left & {
    @media (min-width: $screen-md) {
      .catbus--pinned &,
      .catbus--open & {
        padding-left: $catbus-aside-width;
      }
    }
  }

  .catbus--right & {
    @media (min-width: $screen-md) {
      .catbus--open &,
      .catbus--pinned & {
        padding-right: $catbus-aside-width;
      }
    }
  }

  .catbus--top & {
    @include transition-property(transform, top);
    @include transition-duration(.25s);

    .catbus--open & {
      @media (min-width: $screen-md) {
        @include transform(translateY($catbus-top-drop));

        @if $catbus-disable-firefox-transform {

          // Firefox only CSS selector.  Disables TranslateY because Firefox
          // can't use wmode=direct as a child of an element thats had a
          // transform applied to it.
          &, x:-moz-any-link, x:default {
            @include transform(none);
            top: $catbus-top-drop;
          }
        }
      }
    }
  }
}

.catbus__body {
  padding-top: $catbus-top-gap / 2;

  @media (min-width: $screen-md) {
    .catbus--left & {
      @if $catbus-margin-size == none {
        padding-left: 38px;
        padding-right: 0;
      }
    }

    .catbus--right & {
      @if $catbus-margin-size == none {
        padding-left: 0;
        padding-right: 38px;
      }
    }
  }

  @media (min-width: $screen-lg) {
    @if $catbus-margin-size == small {
      padding-left: $catbus-margin-small;
      padding-right: $catbus-margin-small;
    } @else if $catbus-margin-size == medium {
      padding-left: $catbus-margin-medium;
      padding-right: $catbus-margin-medium;
    } @else if $catbus-margin-size == large {
      padding-left: $catbus-margin-large;
      padding-right: $catbus-margin-large;
    }

    .catbus--left & {
      @if $catbus-margin-size == none {
        padding-left: 38px;
        padding-right: 0;
      }
    }

    .catbus--right & {
      @if $catbus-margin-size == none {
        padding-left: 0;
        padding-right: 38px;
      }
    }
  }
}

.catbus__header {
  position: relative;
  width: 100%;
  margin: 0 auto ($catbus-top-gap / 2);

  @if $catbus-margin-size == none {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.catbus__article {
  position: relative;
  margin: 0 auto;
  margin-top: $catbus-top-gap / 2;
  padding-bottom: $catbus-top-gap / 2;

  & > header {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;

    @media (max-width: $screen-md - 1) {
      padding: 0 2.5%;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
}

.catbus__button {
  @include user-select(none);

  @media (min-width: $screen-sm) {
    width: $catbus-aside-width;
  }

  @media (min-width: $screen-lg) {
    &.catbus--left,
    &.catbus--right {
      display: none;
    }
  }

  .carrot {
    @include transition-property(transform);
    @include transition-duration(.25s);
    line-height: inherit;

    @media (max-width: $screen-sm - 1) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      float: right;
    }

    .catbus--open & {
      @include transform(rotateZ(-180deg));
    }
  }
}

.catbus__footer {
  position: relative;

  .catbus--top & {
    .catbus--open & {
      margin-bottom: $catbus-top-drop;
    }

    .catbus--pinned & {
      @media (min-width: $screen-md) {
        margin-bottom: $catbus-top-drop;
      }
    }
  }

  .catbus--left & {
    .catbus--open & {
      margin-left: -$catbus-aside-width;
    }

    .catbus--pinned & {
      @media (min-width: $screen-md) {
        margin-left: -$catbus-aside-width;
      }
    }
  }

  .catbus--right & {
    .catbus--open & {
      margin-right: -$catbus-aside-width;
    }

    .catbus--pinned & {
      @media (min-width: $screen-md) {
        margin-left: $catbus-aside-width;
      }
    }
  }
}

.catbus__tail {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: none;
  position: absolute;
  background: rgba(#000, 0.5);

  @media (max-width: $screen-md - 1) {
    .catbus--open & {
      display: block;
    }
  }

  @media (max-width: $screen-lg -1) {
    .catbus--top & {
      .catbus--open & {
        display: block;
      }
    }
  }
}
