$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

$media-xs: "only screen and (min-width: #{$screen-xs})";
$media-xs-max: "only screen and (max-width: #{$screen-sm - 1})";

$media-sm: "only screen and (min-width: #{$screen-sm})";
$media-sm-max: "only screen and (max-width: #{$screen-md - 1})";

$media-md: "only screen and (min-width: #{$screen-md})";
$media-md-max: "only screen and (max-width: #{$screen-lg - 1})";

$media-lg: "only screen and (min-width: #{$screen-lg})";


$catbus-caret-class: glyphicon !default;
$catbus-transition-duration: .25s !default;

// This is about 81% of the width of the iPhone 4 screen.
// Easily divisible by 3 and 2.
$catbus-nav-width: 264px !default;

// Again 3 and 2, with the default (3) tabs being 36px each.
$catbus-nav-height: 108px !default;

$catbus-nav-offset: 0 !default;

// This is what you would normally use as a bottom margin on the navbar.
$catbus-top-padding: 20px !default;

$catbus-gutter: 5% !default;

.catbus {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.catbus__container {
  width: 100%;
  height: 100%;
  @include transition-duration($catbus-transition-duration);

  @media #{$media-md} {
    @include transition-property(width, margin);

    .catbus-left & {
      @include display(flex);
      width: unquote("calc(100% + #{$catbus-nav-width})");
      margin-left: -$catbus-nav-width;
    }

    .catbus-right & {
      @include display(flex);
      width: unquote("calc(100% + #{$catbus-nav-width})");
    }

    .catbus-top & {
      margin-top: -$catbus-nav-height;
    }

    .catbus-open & {
      width: 100%;
      margin: 0;
    }
  }
}

.catbus__nav {
  z-index: 30; // Above the Tail
  width: $catbus-nav-width;

  @media #{$media-sm-max} {
    position: absolute;
    right: 100%;
    top: $catbus-nav-offset;

    @include transition-property(transform);
    @include transition-duration($catbus-transition-duration);

    .catbus-open & {
      @include transform(translateX(100%));
    }
  }

  @media #{$media-md} {
    position: relative;

    .catbus-left & {
      @include flex(none);
    }

    .catbus-right & {
      @include flex(none);
      @include order(1);
    }

    .catbus-top & {
      width: 100%;
      height: $catbus-nav-height;
    }
  }

  .catbus__button {
    position: absolute;
    width: 75%;
    top: 0;
    right: 0;
    @include transform-origin(right top);
    @include transform(rotateZ(-90deg));

    @media #{$media-md} {
      .catbus-right & {
        top: auto;
        bottom: 100%;
        right: 100%;
        @include transform-origin(right bottom);
      }
    }
  }
}

.catbus__section {
  position: relative;
  z-index: 10; // The Bottom
  padding-top: $catbus-top-padding;
  @include transition-duration($catbus-transition-duration);
  @include transition-property(padding-left, padding-right, top);

  @media #{$media-sm} {
    padding-left: $catbus-gutter / 2;
    padding-right: $catbus-gutter / 2;
  }

  @media #{$media-md} {
    padding-left: $catbus-gutter;
    padding-right: $catbus-gutter;

    .catbus-left &,
    .catbus-right & {
      @include flex(auto);
    }
  }
}

.catbus__button {

  .#{$catbus-caret-class} {
    @include transition-property(transform);
    @include transition-duration($catbus-transition-duration);

    .catbus-open & {
      @include transform(rotateZ(-180deg));
    }
  }

  // Hide the button on smaller screens
  @media #{$media-sm-max} {
    .catbus-left .catbus__nav &,
    .catbus-right .catbus__nav & {
      display: none;
    }
  }

  // Hide the button in the catbus__nav when we're using the navbar button.
  .catbus-top .catbus__nav & {
    display: none;
  }

  &:active, &:focus {
    outline: 0;
  }
}

.catbus__tail {
  position: absolute;
  z-index: 20; // Above the content, below the nav

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(#000, 0.75);
  display: none;

  // We we always want the tail when less than $screen-md
  @media #{$media-sm-max} {
    .catbus-open & {
      display: block;
    }
  }
}

@import "cats";
