doctype html
head
  link(rel="stylesheet" href="/main.css")

  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(src="app.js")

body
  != yield
