//- wunderbar
.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    a.navbar-brand(js-catbus-button).catbus__button
      .inner
        | Catbus Button
        i.glyphicon.glyphicon-chevron-down

    .pull-right
      a.navbar-brand Assumed Navbar

include src/jade/_catbus.jade
