//- wunderbar
.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .pull-left
      a.btn.navbar-btn.btn-default.catbus__button(js-catbus-button) Catbus Button

    .pull-right
      a.navbar-brand Assumed Navbar

include src/jade/_catbus.jade
