//- wunderbar
.navbar.navbar-default.navbar-static-top.wunderbar
  .container-fluid
    a.navbar-brand.catbus__button.catbus--left(js-catbus-button).
      Catbus Button <small class="glyphicon glyphicon-chevron-down carrot"></small>

    .pull-right
      a.navbar-brand Assumed Navbar

//- catbus
div.catbus.catbus--left
  aside.catbus__aside(js-catbus-aside)
    button.btn(js-catbus-button)
      | Catbus Button
      i.glyphicon.glyphicon-chevron-down.carrot

    .well Catbus Aside

  section.catbus__section
    div.catbus__body
      header.catbus__header
        .well
          .btn.btn-danger.pull-right Delete Me
          | This is some sort of optional space where we can put things that we want.
          ul
            li Notes
            li Banners
            li Upsells...

      article.catbus__article
        header
          h4 Catbus Title

        //- .well.demo
        //-   p Catbus Body.  Search results go here.

        include _flynns


    footer.catbus__footer
      .well.demo
        p Footer

  .catbus__tail(js-catbus-tail)
