//- wunderbar
.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    a.navbar-brand(js-catbus-button).catbus__button
      .inner
        | Catbus <small class="glyphicon glyphicon-chevron-down carrot"></small>

    .pull-right
      a.navbar-brand Assumed Navbar

include src/jade/_catbus.jade
