$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

$media-xs: "only screen and (min-width: #{$screen-xs})";
$media-xs-max: "only screen and (max-width: #{$screen-sm - 1})";

$media-sm: "only screen and (min-width: #{$screen-sm})";
$media-sm-max: "only screen and (max-width: #{$screen-md - 1})";

$media-md: "only screen and (min-width: #{$screen-md})";
$media-md-max: "only screen and (max-width: #{$screen-lg - 1})";

$media-lg: "only screen and (min-width: #{$screen-lg})";


$catbus-caret-class: caret !default;
$catbus-caret-size: .3em !default;
$catbus-transition-duration: .25s !default;
$catbus-use-css-link-arrows: true !default;
$catbus-include-section-padding: true !default;

// This is about 81% of the width of the iPhone 4 screen.
// Easily divisible by 3 and 2.
$catbus-nav-width: 264px !default;

// Again 3 and 2, with the default (3) tabs being 36px each.
$catbus-nav-height: 108px !default;
$catbus-nav-offset: 0 !default;

// This is what you would normally use as a bottom margin on the navbar.
$catbus--top-padding: 20px !default;
$catbus-h-padding: 15px !default;

$catbus-gutter: 4vw !default;

// This is also the minimum width of the .catbus__button so that they match.
$catbus-tab-width: 171px !default;

$catbus-links-height: 36px !default;
$catbus-links-height-top: 22px !default;

//
// Colors
//
$catbus-theme: dark !default;
$catbus-theme-default: true;

@if($catbus-theme == light) {
  $catbus-theme-default: false;
}

@function darkenIf($condition, $color, $amount) {
  @if $condition {
    @return darken($color, $amount);
  }

  @return lighten($color, $amount);
}

@function lightenIf($condition, $color, $amount, $condition) {
  @if $condition {
    @return lighten($color, $amount);
  }

  @return darken($color, $amount);
}


$catbus-background: if($catbus-theme-default, #333333, #cccccc);
$catbus-background-dark: darkenIf( $catbus-theme-default, $catbus-background, 10);

$catbus-tab-background: $catbus-background-dark;
$catbus-tab-background-hover: lightenIf($catbus-theme-default, $catbus-tab-background, 4);
$catbus-tab-background-active: $catbus-background;

$catbus-link-color: if($catbus-theme-default, #999999, #666666);
$catbus-link-color-dim: darkenIf($catbus-theme-default, $catbus-link-color, 7);
$catbus-link-color-active: if($catbus-theme-default, #ffffff, #000000);
$catbus-link-arrow-size: .5em;

$catbus-tab-color: $catbus-link-color-active;

$catbus-divider-color: lightenIf($catbus-theme-default, $catbus-background, 10);

.catbus {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.catbus__container {
  width: 100%;
  height: 100%;
  @include transition-duration($catbus-transition-duration);

  @media #{$media-md} {
    @include transition-property(width, margin);

    .catbus--left & {
      @include display(flex);
      width: unquote("calc(100% + #{$catbus-nav-width})");
      margin-left: -$catbus-nav-width;
    }

    .catbus--right & {
      @include display(flex);
      width: unquote("calc(100% + #{$catbus-nav-width})");
    }

    .catbus--top & {
      margin-top: -$catbus-nav-height;
    }

    .catbus-open & {
      width: 100%;
      margin: 0;
    }
  }
}

.catbus__nav {
  @include box-sizing(content-box);
  z-index: 30; // Above the Tail
  width: $catbus-nav-width;
  border-style: solid;
  border-color: $catbus-divider-color;
  border-width: 0;
  top: $catbus--top-padding;

  .catbus-open & {
    border-right-width: 1px;
  }

  @media #{$media-sm-max} {
    position: absolute;
    right: 100%;
    top: $catbus-nav-offset;

    @include transition-property(transform);
    @include transition-duration($catbus-transition-duration);

    .catbus-open & {
      @include transform(translateX(100%));
    }
  }

  @media #{$media-md} {
    position: relative;

    .catbus--left & {
      @include flex(none);
    }

    .catbus--right & {
      @include flex(none);
      @include order(1);
      border-right: 0;
    }

    .catbus--right.catbus-open & {
      border-left-width: 1px;
    }

    .catbus--top & {
      @include box-sizing(border-box);
      width: 100%;
      height: $catbus-nav-height;
      border-right: 0;
      top: 0;
    }
  }
}

.catbus__section {
  position: relative;
  z-index: 10; // The Bottom
  padding-top: $catbus--top-padding;
  @include transition-duration($catbus-transition-duration);
  @include transition-property(padding-left, padding-right, top);

  @if $catbus-include-section-padding {
    @media #{$media-sm} {
      padding-left: $catbus-gutter / 2;
      padding-right: $catbus-gutter / 2;
    }

    @media #{$media-md} {
      padding-left: $catbus-gutter;
      padding-right: $catbus-gutter;
    }
  }

  @media #{$media-md} {
    .catbus--left &,
    .catbus--right & {
      @include flex(auto);
    }
  }
}

.catbus__button {
  min-width: $catbus-tab-width;
  @include user-select(none);
  text-align: left;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 1em;
    content: "";
    width: 0;
    height: 0;
    @include transition-duration($catbus-transition-duration);
    @include transition-property(transform);
    @include caret-triangle-base(right, $catbus-caret-size);

    @include transform(translateY(-50%));

    .catbus-open & {
      @include transform(translateY(-50%) rotateZ(-180deg));
    }

    @media #{$media-md} {
      @include caret-triangle-base(bottom, $catbus-caret-size);
    }
  }

  &:active, &:focus {
    outline: 0;
  }

  .catbus__nav & {
    position: absolute;
    width: 75%;
    top: 0;
    right: 0;
    @include transform-origin(right top);
    @include transform(rotateZ(-90deg));

    // Hide the button on smaller screens
    @media #{$media-md-max} {
      display: none;
    }

    @media #{$media-lg} {
      .catbus--right & {
        top: auto;
        bottom: 100%;
        right: 100%;
        @include transform-origin(right bottom);

        &::after {
          border-top: 0;
          border-bottom: .3em solid;
        }
      }

      // Hide the button in the catbus__nav when we're using the navbar button.
      .catbus--top & {
        display: none;
      }
    }
  }

  .catbus--left & {

    @media #{$media-lg} {
      @include border-top-radius(0);

      // This hides the button in the bootstrap navbar.  Whatever custom
      // buttons are used need to be hidden some other way.
      &.navbar-btn {
        display: none;
      }
    }
  }

  .catbus--right & {

    @media #{$media-lg} {
      @include border-bottom-radius(0);

      // This hides the button in the bootstrap navbar.  Whatever custom
      // buttons are used need to be hidden some other way.
      &.navbar-btn {
        display: none;
      }
    }
  }
}

.catbus__tail {
  position: absolute;
  z-index: 20; // Above the content, below the nav

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(#000, 0.75);
  display: none;

  // We we always want the tail when less than $screen-md
  @media #{$media-sm-max} {
    .catbus-open & {
      display: block;
    }
  }
}

@import "cats";
