//- catbus
.catbus
  .catbus__container
    nav.catbus__nav(js-catbus-nav)
      button.catbus__button.btn.btn-default(js-catbus-button)
        .inner
          | Catbus Button
          i.glyphicon.glyphicon-chevron-down

      include _cats.jade


    section.catbus__section
      header.catbus__header
        .well
          .btn.btn-danger.pull-right Delete Me
          | This is some sort of optional space where we can put things that we want.
          ul
            li Notes
            li Banners
            li Upsells...

      article.catbus__article
        header
          h4 Catbus Title
        .well.demo
          .pull-right
            form#js-catbus-config.navbar-form.form-inline.pull-left
              | Catbus Config: &nbsp;
              .btn-group(data-toggle="buttons")
                label.btn.btn-default
                  input(type="radio" name="catbus-config" value="left")
                  | Left
                label.btn.btn-default.active
                  input(type="radio" name="catbus-config" checked value="top")
                  | Top
                label.btn.btn-default
                  input(type="radio" name="catbus-config" value="right")
                  | Right

          | Catbus Body.  Search results go here.

      footer.catbus__footer
        .well.demo
          p Footer

    .catbus__tail(js-catbus-tail)
