//- catbus
.catbus(js-catbus)
  .catbus__container
    nav.catbus__nav(js-catbus-nav)
      button.catbus__button.btn.btn-default(js-catbus-button) Catbus Button

      include _cats.jade


    section.catbus__section
      include _demo.jade

    img.catbus__tail(js-catbus-tail src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
