article
  header.clearfix
    .pull-right
      form#js-catbus-config.navbar-form.form-inline.pull-left
        | Catbus Config: &nbsp;

        .btn-group(data-toggle="buttons" js-demo-buttons)
          label.btn.btn-default.btn-sm(for="left")
            input(type="radio" name="catbus-config" value="left")
            | Left

          label.btn.btn-default.btn-sm(for="top")
            input(type="radio" name="catbus-config" value="top")
            | Top

          label.btn.btn-default.btn-sm(for="right")
            input(type="radio" name="catbus-config" value="right")
            | Right

    h4 Page Title

  .well.demo
    p Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Shagg cehye tharanak bug ooboshu, n'ghft ep ooboshu shogg vulgtlagln ep hlirgh uaaah tharanak lloig lw'nafh, vulgtlagln shugg y-vulgtlagln 'fhalma cuh'e R'lyeh Yoggoth epog Yoggoth. Mnahn' ph'ee uaaah Tsathoggua 'fhalma kn'a sll'ha orr'e Dagon vulgtlagln shagg Chaugnar Faugn ilyaa ulnoth nglui hrii ch' f'goka ph'li'hee, ooboshu Yoggoth shuggor uln uh'e f'throd Azathoth fhtagn stell'bsnaor kn'a Azathoth nnnhafh'drn 'bthnk li'hee llll k'yarnak. F'mnahn' ebunmanyth Azathoth nilgh'riyar shogg nglui cftaghu Cthulhu r'luh, phlegeth uln Tsathoggua shogg sll'ha ph'Yoggoth h'ebunma k'yarnakor syha'h, nilgh'rinyth Yoggoth uln uaaah nnnr'luh ep hupadgh.

    p Grah'n hafh'drn nnngotha Tsathoggua f'hlirgh nilgh'ri hlirgh, na'ai throdoth hriiyar phlegeth Hastur, sgn'wahl nilgh'ri li'heeyar Dagon ngorr'e. Lw'nafh ftaghu phlegethog uln gotha syha'hoth Yoggoth naCthulhu fm'latgh, nnnDagon lloig y-tharanak nnnhrii nafhtagn ron ilyaa y-lloig, nnnsgn'wahl Chaugnar Faugn ya ngR'lyeh n'ghftog uln ooboshu. Athg phlegeth fhtagn y'hahnyth ngHastur gnaiih r'luh nilgh'ri, vulgtlagln grah'n n'ghft sll'ha h''bthnk ya ah, bug nw llll ron grah'n gotha. Grah'n Azathoth ngsyha'h shogg nog hafh'drn hupadgh ep y-wgah'n ngmnahn' li'hee, throd fm'latgh nglui Dagon lloig sgn'wahl fhtagn uln ee. Cr'luh y-'ai syha'h kn'a fhtagn uaaah kadishtu, h'chtenff f's'uhn s'uhnor f'nw ilyaa n'ghft 'fhalma, orr'e shugg k'yarnak goka Hastur.

footer
  .well.demo
    p Footer
